{
	"semi": false,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"printWidth": 100,
	"useTabs": true,
	"tabWidth": 2,
	"singleQuote": true,
	"arrowParens": "avoid",
	"importOrder": [
		"^react/(.*)$",
		"^next/(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@components/(.*)$",
		"^[./]",
		"^[../]",
		"^[./(.*).scss]"
	],
	"importOrderSeparation": false,
	"importOrderSortSpecifiers": true
}
